@import './variables.scss';

@import '../components/Container/Container.scss';
@import '../components/Form/Form.scss';
@import '../components/Loading/Loading.scss';
@import '../components/Header/Header.scss';
@import '../components/Memory/Memory.scss';
@import '../components/Navigation/Navigation.scss';
@import '../components/Button/Button.scss';
@import '../components/Message/Message.scss';
@import '../components/Logo/Logo.scss';

@import '../pages/Home/Home.scss';
@import '../pages/Login/Login.scss';
@import '../pages/Register/Register.scss';
@import '../pages/UserPage/UserPage.scss';

:root {
  --color-primary: #6d4c41;
  --color-secondary: #f9a825;
  --color-tertiary: #008cba;

  --color-error: #ff4136;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  font-weight: 300;
  line-height: 1.3;
  font-size: 1.6rem;
  color: var(--color-primary);
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
  transition: all 0.3s;

  &:hover {
    color: var(--color-primary);
  }
}
